<a href="https://colab.research.google.com/github/carinadourado/carinadourado/blob/main/01__python_introducao_basica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introdução a Python


*(Dica - livro de introdução a Phyton - de graça e constantemente atualizado: **PensePython2e** - de Allen B. Downey - https://penseallen.github.io/PensePython2e/ )*

Uma das formas mais simples de começar sem ter que instalar programa no seu computador é usar o Phyton em um navegador. O [Google Colab](https://colab.research.google.com/) é um desses navegadores gratuitos e que pode ser usado tranquilamenta para desenvolver projetos.

Por tradição, o primeiro programa que é feito em Python se escreve: **“Hello, World!”**, para ser exibido na tela. Para isso, vamos usar a função **print()**, que representa o que você quer que apareça escrito na tela

In [ ]:
print ("Olá, mundo!")

Olá, mundo!

As aspas duplas **" "** ou simples **' '** são usadas quando o que está entre parênteses é um texto, o que no Python é chamado de **string (str)**.

O `input( )` é uma função em que se digita algo e isso é armazenado como uma variável. No caso **nome** é a variável criada.

In [ ]:
nome = input ("Qual o seu nome?")
print ("Olá, " + nome)

Qual o seu nome?Carina
Olá, Carina

O Python aceita operações, sem grandes códigos para isso. Por exemplo:

In [ ]:
(20 + 30) / 2

25.0

In [ ]:
43 - 1

42

In [ ]:
9 * 7

63

In [ ]:
82/2

41.0

In [ ]:
(20+30)/2 <= 100  # O <= significa menor ou igual, assim como >= (maior ou igual), == (igual) e != (diferente)

True

Nestes casos de operações:

- Soma: `1 + 2` (devolve `3`)
- Subtração: `4 - 1` (devolve `3`)
- Multiplicação: `3 * 4` (devolve `12`)
- Divisão: `5 / 2` (devolve `2.5`)
- Divisão inteira: `13 // 3` (devolve `4`)
- Resto da divisão inteira: `13 % 3` (devolve `1`)
- Exponenciação: `2 ** 10` (devolve `1024`)


Lembre-se: as **operações possuem precedência** (como na matemática), então na expressão `3 + 4 * 2` primeiro será computado `4 * 2`, para então o resultado ser somado a `3`, resultando em `11`. Você pode trocar a precedência utilizando parenteses, por exemplo: `(3 + 4) * 2` resulta em `14`.

Assim como existem as strings (os textos), também há outros tipos de variáveis. Para descobrir qual é, basta digitar **type()**

In [ ]:
type(2)

int

In [ ]:
type(41.0)

float

In [ ]:
type('Hello, World!')

str

#Dados Básicos

**str** = string = texto (lembrando que numerais podem ser texto)

**int** = inteiro = número inteiro

**float** = número decimal (que é separado por vírgula = 2,9)

**bool** = variáveis booleanas - retornam a resposta True ou False

In [ ]:
a = True
print(type(a))

<class 'bool'>

In [ ]:
a = 4 < 0
print(a)

False

In [ ]:
x = y = 7
print(x <= y and y <= x)

True

In [ ]:
b = "abacate" > "banana"  #No caso de strings, as variáveis booleanas são calculadas em ordem alfabética
print(b)

False

In [ ]:
b = "abacate" < "abacaxi"
print (b)

True